.table {
    padding-top: 10%;
    text-align: center;

}

.add-to-cart {
    width:32px;
    height: 32px;
    display: block;
    margin: 0 auto;
    color: white;
}

.add-to-cart:hover {
    cursor: pointer;
}
