/*
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  margin: 0 auto;
}
.orders th, td, thead, tbody {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.order {
  margin: 0 auto;
  text-align: center;
}
tr {
  text-align: center;
}
*/
.ordersTable {
  margin: 0 auto;
  padding: 8px;
  text-align: center;
  border: 1px solid black;
}


.ordersTable th, td {
  padding: 8px;

  border: 1px solid black;
}

.ordersTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  border: 1px solid black;
}
h1 {
  padding-top: 56px;
  text-align: center;
}
.orderInfoTable {
}
